body {
    margin: 0;
}


h1 {
    margin-top: 0;
}

div {
    background-color: #BAD7E9;
    height: 100px;
}


/* ===============================CLASS SELECTORS==================================*/

.middle-cont {
    background-color: red;
    height: 300px;
    width: 300px;
}

.bottom-cont {
    background-color: blue;
    height: 300px;
    width: 300px;
}